h1{
    font-weight: 800;
    font-size: 50px;
    margin: 15px;
    margin-bottom: 20px;
}
input{
    width: 100%;
}
.todo-item{
    text-align: left;
}
.s-row{
    margin: 10px 5px;
}  
.s-button{
    min-width: 80px;
}